#pins.transitions-enabled
    - @pins.each do |pin|
        .box.panel.panel-default
            = image_tag(pin.image.url)
            .panel-body
                %h2= link_to pin.title, pin_path(pin)
                %p.user
                Submitted by
                = pin.user.email
